html, body { 
  background: @backgroundColor;
}

#masthead {
  background: @navbarBackground url("../img/masthead.jpg") center no-repeat;
  height: 350px;
}

#socialspan {
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
}

img.socialicon {
  margin: 20px 0 20px 8px; 
}

div.darkrow {
  background: @navbarBackground;
}

