{% extends 'main.html' %}
{% block content %}

<script type="text/javascript">
  $(document).ready(function () {
      var addr='moc.liamg@seihroov.dnar'
      $('#emailaddr').html(addr.split("").reverse().join(""));
  });
</script>

<div class="row">
  <div class="span8 offset2">

    <div class="hero-unit">
      <h1>Let's talk</h1>

      <br/>

      <p><span id="emailaddr"></span></p>

      <br/>
      <address>
        <strong>Randolph C. Voorhies</strong>
        <br>
        University of Southern California
        <br>
        Hedco Neuroscience Building, Room 30A
        <br>
        3641 Watt Way
        <br>
        Los Angeles, Ca 90089-2520 - USA
        <br>
      </address>

      <br/>

      <a href="http://www.github.com/randvoorhies"><img src="img/github.png"></a>
      <a href="http://code.google.com/u/100406746138097279368/"><img src="img/google.png"></a>
      <a href="http://www.linkedin.com/pub/randolph-voorhies/1/4b0/a72"><img src="img/linkedin.png"></a>
      <a href="http://stackoverflow.com/users/237092/boatzart"><img src="img/stackoverflow.png"></a>

    </div>

  </div>
</div>

{% endblock %}
