{% extends 'main.html' %}
{% block content %}
    <div class="container">

      <div class="row"> <!-- Main Row -->

        <div class="span6">
          <img src="img/rand.jpeg"/>
        </div>

        <div class="span6">
          <div class="hero-unit">
            <h2>About Me</h2>
            <p>I am a PhD student in the <a href="http://cs.usc.edu">Computer Science Department</a>
            at the <a href="http://usc.edu">University of Southern California</a>,
            and a research assistant in Laurent Itti's <a
              href="http://ilab.usc.edu">iLab</a></p> 

            <br/>

            <h3>Research Interests</h3>
            <p>
            I am interested in computer vision, specifically in investigating
            how models of low-level visual processing in humans can be used to
            enhance machine object recognition performance.
            </p>
            <p>
            I am also interested in robotics, high-performance distributed
            computation, and am an all around huge programming nerd.
            </p>

            <br/>

            <h3>Personal Interests</h3>
            <p>
            When I'm not in the lab, you can usually find me running, spearfishing, or cooking.
            </p>

            <br/>

            <h3>Projects</h3>
            <p>
            I'm always building stuff! Check out my <a href="projects.html">projects page</a> to see what I've been up to.
            </p>
          </div><!--/.hero-unit-->
        </div><!--/.span6-->

      </div><!--/Main Row -->

    </div> <!-- /container -->
{% endblock %}
