{% extends 'main.html' %}
{% block content %}

<div class="row"> <!-- Main Row -->
  <div class="span6">
    <img src="img/rand.jpeg"/>
  </div>

  <div class="span6" style="height: 100%;">
    <div class="foreground-well main-well">
      <h1>About Me</h1>
      <p>
      I <strike>am</strike> <b>was</b> a PhD student in the <a href="http://cs.usc.edu">Computer Science Department</a>
        at the <a href="http://usc.edu">University of Southern California</a>,
        and a research assistant in Laurent Itti's <a href="http://ilab.usc.edu">iLab</a> and under Larry Matthies at the NASA Jet Propulsion Laboratory.
      </p> 

      <p>
      <i>Update</i>: I graduated! I am now CTO of <a href="http://www.inviarobotics.com">inVia Robotics</a>.
      </p>

      <br/>

      <h2>Research Interests</h2>
      <p>
        I am interested in robotic perception, specifically in how to write
        software than can build 3D maps of the world in real-time.
      </p>
      <p>
        I am also interested in biologically inspired vision, high-performance
        distributed computation, and am an all around huge programming nerd.
      </p>

      <br/>

      <h2>Projects</h2>
      <p>
        I'm always building stuff! Check out my <a href="projects.html">projects page</a> to see what I've been up to.
      </p>

      <br/>

      <h2>Personal Interests</h2>
      <p>
        When I'm not in the lab, you can usually find me olympic weightlifting, spearfishing, or cooking.
      </p>

    </div><!--/.hero-unit-->
  </div><!--/.span6-->
</div><!--/Main Row -->

{% endblock %}
