{% extends 'main.html' %}
{% block content %}

{% macro makeAnchor(project) %}{{project['html']|replace('.html','')}}{% endmacro %}

{% macro makeprojects(projects) %}
<div class="container">
  <div class="row">

    <div class="span3">
      <ul class="nav nav-list">
        {% for project in projects %}
        <li><a href="#{{makeAnchor(project)}}">{{project['title']}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="span9">
      {% for project in projects %}
      <span id="{{makeAnchor(project)}}">
        {% include project['html'] %}
      </span>
      {% endfor %}
    </div>
{% endmacro %}

  {{ makeprojects([
    {
     'title' : 'Neuromorphic Robotics Toolkit',
     'html'  : 'project_nrt.html'
    },
    {
     'title' : 'Beobot 2.0',
     'html'  : 'project_beobot2.html'
    },
    {
     'title' : 'Randterm',
     'html'  : 'project_randterm.html'
    },
    {
     'title' : 'SimpleSLAM',
     'html'  : 'project_simpleslam.html'
    },
    {
     'title' : 'randolphvoorhies.com',
     'html'  : 'project_randvoorhies.html'
    },
  ])}}

  </div><!--/.row-->
</div><!--/.container-->

{% endblock %}
