{% extends 'project.html' %}
{% block title %}randvoorhies.com{% endblock %}
{% block tagline %}My personal website. You're looking at it!{% endblock %}
{% block content %}

<p>I had a ton of fun writing this site because I used it as an excuse to learn
as much as possible about modern web programming. Here's how the site works:</p>

<ul>
  <li>
    All pages were written using the <a href="http://jinja.pocoo.org/">Jinja2</a>
    templating engine. All templates are rendered offline into pure html pages
    prior to publishing using a custom python script.
  </li>
  <li>
    The site scaffolding is based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>,
    which makes layout really easy.
  </li>
  <li>
    Styles are handled using <a href="http://lesscss.org/">Less</a>, and are
    based off of Bootstrap's source.
  </li>
  <li>
    A custom <a href="https://github.com/mynyml/watchr">Watchr</a> script
    monitors the Less and Jinja template folders for changes, and automatically
    rebuilds whatever is necessary.
  </li>
</ul>

<div class="checkitout">Check it out here: <a href="https://github.com/randvoorhies/CVsite">Github Repository</a></div>

{% endblock %}
