{% extends 'project.html' %}
{% block title %}USC Competition Robotics Teams{% endblock %}
{% block tagline %}I am the technical advisor for USC's two competition robotics teams.{% endblock %}

{% block content %}
<p>
  USC hosts two primarily undergraduate robotics teams which compete in yearly competitions:
  <ul>
    <li>
      <strong>The Underwater Robotics Team,</strong> which enters their
      autonomous underwater vehicle (AUV) in the <a href="http://www.robosub.org">AUVSI RoboSub Competition</a>.
      This competition requires their AUV to autonomously traverse an underwater obstacle
      course, and to perform such tasks as bumping into buoys, dropping markers
      into bins, and shooting "torpedos" through targets.
    </li>

    <li>
      <strong>The Aerial Robotics Team,</strong> which enters their unmanned aerial
      vehicle (UAV) in the <a href="http://iarc.angel-strike.com/">AUVSI International Aerial Robotics Competition</a>.
      This competition requires their UAV to autonomously enter an office building
      environment, and then navigate through the building to locate and remove USB
      flash drive from one of the offices.
    </li>
  </ul>
</p>

<p>
  I advise both teams on all aspects of their designs, including software,
  electrical and mechanical. </p>

<div class="checkitout">Check it out here: <a href="http://www.uscrs.org">uscrs.org</a></div>

{% endblock %}
{% block screenshot %}<img src="img/uscrs.png">{% endblock %}
