{% extends 'project.html' %}
{% block title %}Simple SLAM{% endblock %}
{% block tagline %}
A bare-bones implementation of <a href="http://robots.stanford.edu/papers/montemerlo.fastslam-tr.html">FastSLAM 1.0</a>
written for MATLAB/Octave.
{% endblock %}

{% block content %}

   SimpleSLAM simulates a robot cruising around a 2D environment, occasionally
   receiving range and bearing measurements to landmarks.  The task of the
   robot is to simultaneously build a map of the environment, and to localize
   itself within that map. It was written to teach (myself and others) about
   the fundamentals of simultaneous localization and mapping.

<div class="checkitout">Check it out here: <a href="https://github.com/randvoorhies/SimpleSLAM">Github Repository</a></div>

{% endblock %}
{% block screenshot %} <img src="img/simpleslam.png"/> {% endblock %}
