{% extends 'project.html' %}
{% block title %}Cognitive Technology Threat Warning System{% endblock %}

{% block tagline %}A DARPA funded project to develop a surveillance system using models of the primate visual system.{% endblock %}

{% block content %}

<p>
  The CT2WS project was initiated by DARPA to develop a soldier-portable visual
  threat detection platform. Furthermore, the goal of the project was to implement
  such a system using biologically plausible models of primate visual
  attention.
</p>

<p>
  I acted as the primary developer in iLab to implement, tune, and interface
  a model of visual attention developed by Dr. Itti and Dr. Baldi 
  (<a href="http://ilab.usc.edu/surprise/">see here for more details</a>). Our
  lab worked in close conjunction with Hughes Research Labs to produce
  a working system that fused the automatic detections of our attention model
  with the detected neural signatures of a human operator. 
</p>


<div class="checkitout">Check it out here: <a href="http://www.darpa.mil/Our_Work/DSO/Programs/Cognitive_Technology_Threat_Warning_System_(CT2WS).aspx">darpa.mil</a></div>

{% endblock %}

{% block screenshot %}<img src="img/ct2ws.jpg">{% endblock %}


