{% macro educationEntry(edu) %}
  <div class="row">
    <div class="span5 degree"><h4>{{edu['degree'][0]}}</h4></div>
    <div class="span3 duration">{{edu['degree'][1]}}</div>
  </div>
  <div class="row"> <div class="span3">{{edu['school']}}</div> </div>
  <div class="row"> <div class="span3">GPA: {{edu['gpa']}}</div> </div>
{% endmacro %}

{% macro experienceEntry(exp) %}
  <div class="row">
    <div class="span5"><h4>{{exp['where']}}</h4></div>
    <div class="span3"><em>{{exp['when']}}</em></div>
  </div>
  <div class="row"> <div class="span5"><em>{{exp['what']}}</em></div> </div>
  <div class="row">
    <div class="span8">
      <ul>
        {% for point in exp['points'] %}
          <li>{{point}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}

    <div class="resume">

      <div class="row">
        <div class="span8 myname"> Randolph C. Voorhies </div>
      </div>

      <br>
      <blockquote>www.randolphvoorhies.com<br>
        703 1/2 East Edgeware Road. Los Angeles, Ca. 90026<br>
        voorhies@usc.edu<br>
      </blockquote>

      <!--
      <div class="row">
        <div class="span4">www.randolphvoorhies.com</div>
      </div>
      <div class="row"> 
        <div class="span4">703 1/2 East Edgeware Road. Los Angeles, Ca. 90026</div>
      </div>
      <div class="row">
        <div class="span6">voorhies@usc.edu</div>
      </div>
      -->

      <h1>Education</h1>
      {{ educationEntry({"degree" : ["Ph.D. in Computer Science", "In Progress"],
                         "school" : "University of Southern California",
                         "gpa"    : "3.930"}) }}
      {{ educationEntry({"degree" : ["M.S. in Computer Science - Intelligent Robotics", "August 2009"],
                         "school" : "University of Southern California",
                         "gpa"    : "3.910"}) }}
      {{ educationEntry({"degree" : ["B.S. in Computer Engineering &amp; Computer Science", "December 2006"],
                         "school" : "University of Southern California",
                         "gpa"    : "3.497"}) }}


      <h1>Technical Skills</h1>

      <div class="row">
        <div class="span5">
          <h4>Programming Languages</h4>
          <p>C++ (11) &middot; Python &middot; MATLAB &middot; Javascript &middot; Perl &middot; Spin</p> 
        </div>

        <div class="span5">
          <h4>Electrical Engineering Tools</h4>
          <p>Altium Designer &middot; Cadsoft Eagle &middot; Surface Mount Assembly</p>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <h4>Software Libraries</h4>
          <p>Boost &middot; ZeroC Ice &middot; Eigen &middot; OpenCV &middot; ROS &middot; Qt &middot; Thrust </p> 
        </div>

        <div class="span5">
          <h4>Engineering Abilities</h4>
          <p>Image Processing &middot; Robotics Perception &amp; Localization &middot; Distributed Programming &middot; Circuit Board Design</p>
        </div>
      </div>

      <h1>Experience</h1>

      {{ experienceEntry({"where"  : "NASA / Jet Propulsion Laboratory",
                          "when"   : "Summer 2012",
                          "what"   : "Intern in the Computer Vision for Surface Applications Group",
                          "points" : 
                            [
                              "Performed work on a visual odometry and stabilization system for automomous quadrotors, including image preprocessing, debugging and tuning.",
                              "Ported a rapidly-exploring-random-tree implementation to run in real-time on the quadrotors.",
                              "Implemented a simulation library for quadrotor controls and dynamics.",
                              "Implemented a fast state estimation and data fusion filter."
                            ]
                            })}} 
      {{ experienceEntry({"where"  : "USC Computer Science Department",
                          "when"   : "Fall 2007 - Present",
                          "what"   : "Graduate Research Assistant in Laurent Itti's iLab",
                          "points" : 
                            [
                              "Implemented NRT, a modular programming framework for image processing and robotics.",
                              "Implemented tracking and object recognition systems for DARPA's Neovision2 project.",
                              "Implemented a distributed attention system for DARPA's Cognitive Technologies Threat Warning System (CT2WS) project.",
                              "Performed circuit design, assembly, and embedded programming for Beobot2.0, iLab's next generation 16-core robot."
                            ]
                            })}} 
       {{ experienceEntry({"where" : "South Pasadena Educational Foundation",
                          "when"   : "Fall 2007 - Present",
                          "what"   : "Teacher Trainer",
                          "points" : 
                            [
                              "Designed a robotics curriculum to be taught to middle school students.",
                              "Provided weekly training sessions for teachers."
                            ]
                            })}}
       {{ experienceEntry({"where" : "USC Computer Science Department",
                          "when"   : "Fall 2007 - 2009",
                          "what"   : "CS445 Introduction to Robotics Lab Assistant",
                          "points" : 
                            [
                              "Designed and taught curricula for weekly three-hour lab sessions.",
                              "Designed and built a custom robotics controller board based on a 600Mhz Overo processor.",
                              "Built a software architecture and library to help the students cross-compile and upload code, "
                              "as well as libraries for motion control, data acquisition, image processing, and communication."

                            ]
                            })}}
       {{ experienceEntry({"where" : "Microsoft",
                          "when"   : "Summer 2004",
                          "what"   : "Intern in the Security Division",
                          "points" : 
                            [
                              "Developed security database migration tools in C#.",
                            ]
                            })}}
    </div>
